img{
    width: 150px;
}

footer{

	color: white;
	background-color: black;
	padding: 1em;
}

p{
    margin:10px;
    padding:10px;
}

body{
	display: flex;
	flex-direction:column ;
    margin:auto 0;
    height: 80vh;
	width: 80%;

}

/*styling the button*/
#button{
	background-color: blue;
	color:white;
	text-decoration: none;
	border:none;
	padding: 15px;
	margin-bottom: 10px;
}

/* Form styling */
form {
	margin: auto;
	width: 40vw;
	display: flex;
	flex-direction: column;
}
form > input {
	margin: 1em 0;
	height: 3em;
}

footer>div{
text-align: right;
}